.input_fileupload--hidden{
    display:none;
  }
  
  .login-main {
	text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
}
.loginspinner {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

table {    width: 100%;  }