<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Upload Excel File to Import!</mat-card-title>
      <a href="/Book1.xlsx" target="_blank" download>Download Sample File</a>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input  #fileUpload type="file" name="avatar" (change)="onFileChange($event)"  class="input_fileupload--hidden" />
        <button mat-raised-button color="primary" type="submit"><mat-icon>add</mat-icon> Upload</button>
      </form>
      <mat-spinner class="loginspinner" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      <p class="callout warning"  *ngIf="loginError"> {{ loginAlert }}</p>
    </mat-card-content>
  </mat-card>
</div>

<div>
  <div layout="row">
    <div flex>
      <table mat-table [dataSource]="dataSource.result" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="phone_no">
          <th mat-header-cell *matHeaderCellDef> Phone No </th>
          <td mat-cell *matCellDef="let element"> {{element.phone_no}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef> Salary </th>
          <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
        </ng-container>
    
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
