<h1 mat-dialog-title>You Want to delete?</h1>
<div mat-dialog-content>
  <ng-template>
    Sure to delete?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">Delete</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>