<mat-toolbar color="primary">
    <h1>
        Demo
    </h1>
    <button *ngIf="login" mat-button routerLink="/index">Home</button>
    <button *ngIf="login" mat-button routerLink="/import">Import Data</button>
    <button *ngIf="login" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<div class="container text-center">
    <router-outlet></router-outlet>
</div>