.container {
	text-align: center;
}
.login-main {
	text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 60px;
}
.loginspinner {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}


