<!-- <div class="container">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
        <div class="form-container">
            <div class="row columns">
                <h1>Login</h1>
                <label>Username
                </label>
                    <input type="text" #usernameobj appAutofocus formControlName="username">
                    <div class="alert" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">
                        {{ usernameAlert }}</div>
                <br>
                <label>Password
                </label>
                    <input type="password" formControlName="password">
                    <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
                        {{ passwordAlert }}</div>
                <div class="callout warning" *ngIf="loginError"> {{ loginAlert }}</div>
                <br>
                <input type="submit" class="button expanded" value="Login" [disabled]="!rForm.valid">
            </div>
        </div>
    </form>
</div> -->





<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="rForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" formControlName="username" required>
                <mat-error *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">{{ usernameAlert }}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" type="password" formControlName="password" required >
                <mat-error *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">{{ passwordAlert }}</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <mat-spinner class="loginspinner" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      <p class="callout warning" *ngIf="loginError"> {{ loginAlert }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="addPost(rForm.value)" color="primary" >Login</button>
    </mat-card-actions>
  </mat-card>
</div>