<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Update User</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]="rForm">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="email" type="email" formControlName="email" required>
                  <mat-error *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Please Enter Email</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="name" type="name" formControlName="name" required>
                  <mat-error *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Please Enter Name</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" type="password" formControlName="password" >
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <mat-spinner class="loginspinner" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        <p class="callout warning" *ngIf="loginError"> {{ loginAlert }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="addPost(rForm.value)" color="primary" >Update</button>
      </mat-card-actions>
    </mat-card>
  </div>